{% extends 'base.html' %}
{% block title %}Category Create{% endblock %}
{% block content%}
    <h1>New Category</h1>
    <div class="form  col-8">
        <form action="{% url 'add_category' %}" method="post">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="category_name" class="col-sm-2 col-form-label">Category name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="category_name" name="category_name">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="d-grid gap-2 col-8 mx-auto">
                <button type="submit" class="btn btn-outline-primary mb-3">Create</button>
            </div>
        </form>
    </div>
{% endblock %}