{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block menu%}
    <a href="{% url 'add_product' %}">Add Product</a>  
{% endblock %}
{% block content%}
    <div class="container">
        <h1>Product</h1>
        <p>Product: {{ product.product_name }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Category: {{ product.category }}</p>
        <p>Created at: {{ product.created_at }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Image: {{ product.image_url }}</p>
    </div>
{% endblock %}